/* font-family: 'Amatic SC',
cursive;
font-family: 'Montserrat',
sans-serif;
font-family: 'Didact Gothic',
sans-serif; */

.jumbotron {
    padding: 0px;
}

#koalateaLogo {
    width: 100%;
}

button {
    margin: 0 10px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
}

p {
    margin: 15px 0 5px 10px;
}

.gif {
    float: left;
    margin-left: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 60px;
    background-color: white;
    background-image: url("../images/DirtyChalkboard.jpg");
}

.gifContainer {
    margin: 0 20px;
    padding-right: 0px;
    padding-left: 0px;
}

.gifyImage {
    width: 8em;
    margin-top: 5px;
}
